@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --font: 'Concert One', cursive;
    --bg-color: #1F1D36;
    --red: #C85C5C;
    --orange: #F9975D;
    --yellow: #FBD148;
    --green: #B2EA70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    transition: all 300ms ease-in-out;
    color: white;
}

body {
    background-color: var(--bg-color);
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 1rem;
}

h4 {
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--orange);
}

hr {
    margin: 6rem 12rem;
    color: white;
}

.cmp-header {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--red);
}

.cmp-header h1 {
    flex: .8;
    font-size: 2.2rem;
    text-align: center;
    color: var(--bg-color);
    font-weight: bold;
}

.cmp-header form {
    flex: .7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cmp-header form input {
    width: 90%;
    padding: .2rem .5rem .6rem .5rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--bg-color);
}

.cmp-header form input:focus {
    outline: none;
    caret-color: white;
}

.cmp-header form button {
    margin: 0 .5rem;
    font-size: 1.2rem;
    border: none;
    background-color: var(--green);
    color: var(--bg-color);
    padding: .75rem 1rem ;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
}

.cmp-header form button:hover {
    background-color: #81b446;
}

.cmp-filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.cmp-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.options {
    margin: 1rem 0;
    display: grid;
    column-gap: .5rem;
    row-gap: .7rem;
    grid-template-columns: repeat(2, 1fr);
}

.options-c {
    margin: 1rem 0;
    display: grid;
    column-gap: 1rem;
    row-gap: .7rem;
    grid-template-columns: repeat(3, 1fr);
}

.cmp-filter .options div {
    margin: .2rem;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}